### Data Audit - Credit Card Defaults ###

In [1]:
# importing packages
import pandas as pd
import numpy as np

In [4]:
# loading in excel file

data = pd.read_excel("default of credit card clients.xls", header=0, index_col=0)

In [5]:
print(data.head(5))

           X1   X2         X3        X4   X5     X6     X7     X8     X9  \
ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  PAY_4
1       20000    2          2         1   24      2      2     -1     -1
2      120000    2          2         2   26     -1      2      0      0
3       90000    2          2         2   34      0      0      0      0
4       50000    2          2         1   37      0      0      0      0

      X10             ...                    X15        X16        X17  \
ID  PAY_5             ...              BILL_AMT4  BILL_AMT5  BILL_AMT6
1      -2             ...                      0          0          0
2       0             ...                   3272       3455       3261
3       0             ...                  14331      14948      15549
4       0             ...                  28314      28959      29547

         X18       X19       X20       X21       X22       X23  \
ID  PAY_AMT1  PAY_AMT2  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6
1          0       689         0         0         0         0
2          0      1000      1000      1000         0      2000
3       1518      1500      1000      1000      1000      5000
4       2000      2019      1200      1100      1069      1000

                             Y
ID  default payment next month
1                            1
2                            1
3                            0
4                            0

[5 rows x 24 columns]

In [7]:
# changing the last column name
data.rename(columns = {'default payment next month':'default_pay_next_month'});

In [8]:
# exporting data to new dataframe cause who the hell puts spaces in a column name
data.to_csv("Default_of_Credit_Card_Clients.csv", ",")